<div class="RegCard">
    <h1>Registration</h1>
    <div class="RegCard">
        <label for="username" class="label">Username</label>
        <input type="text" pInputText id="username" [(ngModel)]="userValue" />
    
        <label for="email" class="label">Email</label>
        <input type="email" pInputText id="email" [(ngModel)]="emailValue" />
    
        <label for="password" class="label">Password</label>
        <input type="password" pInputText id="password" [(ngModel)]="passValue" />

        <p-button label="Registration" />
    </div>
</div>
